<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleafe.org">
    <head>
        <title>my Leaves</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
    </head>
    <body>
        <div class="">
            <div th:replace="fragments/navbar :: navbar"></div>
        <div class="jumbotron" style="padding-top: 40px; text-align: center;">
            <h1 class="display-3"><span th:text="${username}"></span>'s Dashboard</h1>
            <p class="lead">This is a page where Manager can Approve or reject requested leaves</p>
  
            <hr class="my-4"/>
            <div>
                <ol class="breadcrumb">
                    <li class="item">
                        <a th:href="@{/trans-leaves/execute/}" class="btn btn-outline-success">Execute</a>
                    </li>
                </ol>
            </div>
            
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th>Leave ID</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${!leave.manipulated}" th:each="leave,iter : ${leaves}">
                        <td th:text="${leave.id}"></td>
                        <td th:text="${leave.start_date}"></td>
                        <td th:text="${leave.end_date}"></td>
                        <td>
                            <a th:href="@{/trans-leaves/approve/} + ${iter.index}" class="btn btn-outline-success">Approve</a>
                            <a th:href="@{/trans-leaves/reject/} + ${iter.index}" class="btn btn-outline-error">Reject</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        </div>
    </body>
</html>
